@import '/src/common/modern-reset.css';
@import '/src/common/font.css';

body {
  background-color: #dbeafe;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'titleFont', sans-serif;
  color: #1e3a8a;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.page-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
  width: auto;
  height: 100vh;
  /* max-width: 1200px; */
  margin-inline: auto;

  /* border: 5px solid red; */
}

.title-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 150px;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 80%;
  height: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;

  align-items: center;

  img {
    width: 150px;
    /* height: 100px; */
  }
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle p {
  margin: 5px 0;
  /* font-size: px; */
  font-weight: 500;
}

.level-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.level-container h2 {
  font-size: 18px;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.btn {
  padding: 8px 16px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease;
  min-width: 120px;
}

.level-btn:hover {
  background-color: #1d4ed8;
}

/* 클릭했을때 호버효과가 유지되도록 하기 위한 css 추가 */
.level-btn.active {
  background-color: #1d4ed8;
}

.start-btn {
  background-color: #1d4ed8;
  max-width: 400px;
}

.start-btn:hover {
  background-color: #3b82f6;
}

/* .home-btn {
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  background-color: white;
  color: #3b82f6;
  border: 2px solid #3b82f6;
}

.home-btn:hover {
  background-color: #3b82f6;
  color: white;
} */

#home {
  /* border: 1px solid red; */
  background-color: transparent;
  border: none;
  position: absolute;
  left: 5px;
  top: 20px;
  /* background-color: rgba(255, 255, 255, 0.5); */

  img {
    width: 70px;
    height: 70px;
    background-color: transparent;
  }
}
.top-contain {
  margin-top: 50px;
  /* border: 2px solid red; */
  max-width: 1000px;
  width: 80%;
}

/* 모바일 버전 */
@media (max-width: 560px) {
  body {
    font-size: 14px;
  }

  .top-contain {
    width: 95%;
    margin-top: 0px;
  }

  .title-container {
    padding: 20px 16px;
    margin-top: 150px;
    width: 95%;
    gap: 20px;

    img {
      width: 100px;
    }
  }

  h1 {
    font-size: 20px;
  }

  .subtitle p {
    font-size: 14px;
  }

  .level-container h2 {
    font-size: 16px;
  }

  .btn-container {
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    padding: 10px;
    font-size: 13px;
    min-width: 100px;
    width: 80%;
  }

  .start-btn {
    font-size: 14px;
    padding: 10px 16px;
    width: 80%;
    max-width: none;
  }

  .home-btn {
    margin-left: 10px;
    font-size: 13px;
    padding: 6px 5px;
    width: 30px;
  }
}
