@import '../style.css';
/* TODO minwidth, maxwidth 설정 1차 기능 구현 후 반응형 */

/* text component*/
.main-name {
  background-image: linear-gradient(
    90deg,
    var(--color-pink) 0%,
    var(--color-purple) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.69vw;
  font-style: normal;
  font-weight: 700;
  line-height: 5.2083vw;
}

/* button component  */
.base-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--color-pink);
  border-radius: 999px;
  border: none;
  padding: 14px 32px;
  vertical-align: middle;
  line-height: 150%;

  .base-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}
