<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/typeTestConponent.css" />
    <title>유형테스트component</title>
  </head>
  <body>
    <!-- text component  -->
    <h1>text component</h1>
    <span class="main-name">티니핑 성격 유형 테스트</span>

    <!-- button component -->
    <h1>button component</h1>
    <button class="base-button">
      <span class="base-text"> 테스트 시작하기</span>
      <img src="../assets/typeTest_img/arrow.png" alt="오른쪽 화살표" />
    </button>
  </body>
</html>
